node_modules
/frontend1/node_modules
.env

# Hardhat files
/cache
/artifacts
contract-abi.json
contract-address.txt

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
